<div class="container d-flex align-items-center my-auto justify-content-center py-auto">
        <div class="text-center border border-3 bg-color border-black rounded">
            <h1 class="text-light mb-3">Evento</h1>
            <h3 class="text-light mb-3">{{nombre_evento}}</h3>
            <ul  style="list-style: none; margin: 3rem;">
                <li class="fs-5 text-light">{{candidato1}} - {{candidato1_votos}} Votos</li>
                <li class="fs-5 text-light">{{candidato2}} - {{candidato2_votos}} Votos</li>
                <li class="fs-5 text-light">{{candidato3}} - {{candidato3_votos}} Votos</li>
            </ul>
            <h3 class="text-light mb-3">
            {{#if estado}}Estado del evento: En curso 
            </h3>
                {{#if admin}} <a href="/finalizar_votacion/{{id}}"><button class="btn btn-primary btn-lg mb-3">Finalizar votacion</button></a>
                {{else}}{{/if}}
            {{else}}
            <h3 class="text-light mb-3">Estado del evento: Finalizado</h3>
            {{/if}}
            </h3>


            <span class="nav-item text-light justify-content-center"> <a href="/eventos" class="nav-link">Volver a elecciones</a></span>
        </div>
</div>