<div class="container mb-auto">
    <div class="row">
        <table class="table caption-top rounded rounded-3 overflow-hidden">
            <caption class="fs-1 text-dark border-bottom-0 rounded-top">Votaciones Disponibles</caption>
            <thead>
                <tr>
                    <th>ID evento</th>
                    <th>Nombre del evento</th>
                    <th>Estado del evento</th>
                    <th>Votar en evento</th>
                </tr>
            </thead>
            <tbody>
                {{#each allEvents}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.nombre_evento}}</td>
                        {{#if this.estado}}
                        <td> En curso </td>
                        <td> <a href="/eventos/{{this.id}}/votar" class="nav-link table-link">Votar</a></td>
                        {{else}}
                        <td> Finalizado </td>
                        <td> <a href="/eventos/{{this.id}}/votar" class="nav-link disabled table-link">Votacion finalizada</a></td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>