<div class="container d-flex align-items-center my-auto justify-content-center">
    <div class="border border-3 border-black rounded bg-color">
        <h1 class="text-center text-light">Votar encuesta</h1>
        <form action="/eventos/{{id}}/votar" method="post" style="margin: 3rem;">
            <h3 class="text-light text-center mb-2">"{{nombre_evento}}"</h3>
            <div class="my-4">
                <input type="radio" name="candidatos" value="candidato1">
                <label for="candidato1" class="fs-5 text-light">{{candidato1}}</label>
            </div>

            <div class="my-4">
                <input type="radio" name="candidatos" value="candidato2">
                <label for="candidato2" class="fs-5 text-light">{{candidato2}}</label>
            </div>
            
            <div class="my-4">
                <input type="radio" name="candidatos" value="candidato3">
                <label for="candidato3" class="fs-5 text-light">{{candidato3}}</label>
            </div>

            <input style="margin-top: 2rem; margin-bottom: 2rem;" type="submit" class="btn btn-primary" value="Votar">
            <span class="nav-item text-light"> <a href="/votaciones" class="nav-link">Volver a votaciones</a></span>

        </form>
    </div>
</div>